<h2> Admin Profile</h2>
<div class="container">
  <form class="example-container">
      <mat-form-field>
          <input matInput placeholder="Name" name="name" required>
          <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput  placeholder="Email" name="email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
  </form>
  <div class="button-row">
      <button mat-raised-button color="primary" >Save</button>
      <button mat-raised-button color="primary">Cancel</button>
  </div>
</div>
