<nav class="navbar w-auto p-4 navbar-expand-lg bg-light ">
   
   <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active" href="/"> <img src="../assets/images/D.png"></a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
  
      <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active" ><i class="fa fa-fw fa-home fa-lg"></i> Dashboard</a> 

  <a class="nav-item nav-link" routerLink="/usermanagement" routerLinkActive="active" ><i class="fa fa-users fa-lg"></i> User Management</a>

  <a class="nav-item nav-link" routerLink="/help" routerLinkActive="active" ><i class="fa fa-question-circle fa-lg"></i> Help</a> 
    </div>


 </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav"> 
     
    <a class="nav-item nav-link" href="#"><i class="fa fa-bell fa-lg"></i></a>
    <a class="nav-item nav-link" href="#"><i class="fa fa-user-circle fa-lg"></i></a>
      
    </div>
  </div>
</nav>
