@(signInForm: Form[AuthForms.SignInData])(implicit request: RequestHeader, messages:Messages)
@implicitFieldConstructor = @{b4.horizontal.fieldConstructor("col-md-3","col-md-6")}

@views.html.templates.notAuthenticated("Delphi Management - Login"){


    <section id="top">
        <div class="jumbotron">
            <h1>Welcome to Delphi Management!</h1>
            <h3>Please sign in to access the Interface.</h3>
        </div>
    </section>



    @request.flash.get("error").map { msg =>
    @errors.alert(msg, "error")
    }
    @b4.form(routes.AuthController.authenticate) {
    <fieldset>
        @helper.CSRF.formField

        @b4.email(signInForm("email"),
        'placeholder -> Messages("signin.email"),
        'autofocus -> true)

        @b4.password(signInForm("password"),
        'placeholder -> Messages("signin.password"))

        @b4.checkbox(signInForm("rememberMe"),
        '_text -> Messages("signin.rememberMe"),
        'value -> false)

        @b4.submit('class -> "btn btn-primary"){ @Messages("signin.submit") }
    </fieldset>
    }
}



