<app-header> route="header" componentType="dashboard-overview"</app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-4">
    <app-dashboard-card route="crawler" componentType="crawler" title="Crawler" img="../assets/images/crawler.png"></app-dashboard-card>
    </div>
    <div class="col-md-3 col-sm-4">
    <app-dashboard-card route="webapi" componentType="webapi" title="Web API" img="../assets/images/webapi.png"></app-dashboard-card>
    </div>
    <div class="col-md-3 col-sm-4">
    <app-dashboard-card route="webapp" componentType="webapp" title="Web APP" img="../assets/images/webapp.png"></app-dashboard-card>
    </div>
    <div class="col-md-1 col-sm-4">
    </div>
    <div class="col-md-2 col-sm-4">
    <app-sidebar></app-sidebar>
  </div>
  </div>