<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-4">
    <app-dashboard-card route="crawler" componentType="Crawler" title="Crawler" img="../assets/images/crawler.png"></app-dashboard-card>
    </div>
    <div class="col-md-3 col-sm-4">
    <app-dashboard-card route="webApi" componentType="WebApi" title="Web API" img="../assets/images/webapi.png"></app-dashboard-card>
    </div>
    <div class="col-md-3 col-sm-4">
    <app-dashboard-card route="webapp" componentType="WebApp" title="Web APP" img="../assets/images/webapp.png"></app-dashboard-card>
    </div>
    <div class="col-md-1 col-sm-4">
    </div>
    <div class="col-md-2 col-sm-4">
    <app-statuscard></app-statuscard>
  </div>
</div>
</div>
