<h5>System Information</h5>
<div class="container border ">
     <div class="floatStyle">

         <table class="tableAlign">
          <tr>
            <td>Host Name :</td>
            <td class="valueBox">
               Test
            </td>            
          </tr>
          <tr>
            <td>Browser :</td>
            <td class="valueBox">
                {{deviceInfo.browser}}
            </td>            
          </tr>
          <tr>
            <td>Platform :</td>
            <td class="valueBox">
               {{deviceInfo.os}}
            </td>            
          </tr>
        </table>
    </div>