<h6>System Information</h6>
<div class="container border ">
     <div class="floatStyle">

         <table class="tableAlign">
          <tr>
            <td>Host Name :</td>
            <td class="valueBox">
               Test
            </td>            
          </tr>
          <tr>
            <td>Scala Version :</td>
            <td class="valueBox">
                2.0
            </td>            
          </tr>
          <tr>
            <td>Browser :</td>
            <td class="valueBox">
                Chrome
            </td>            
          </tr>
          <tr>
            <td>Platform :</td>
            <td class="valueBox">
               Linux
            </td>            
          </tr>
        </table>
    </div>