<div class="container-fluid">
  <div class="row">
    <h4 [ngClass]="'titleAlign'">Title</h4>
  </div>
  <div class="row rowAlign">
    <div class="col-md-3 col-sm-12 detailsFormat">
      <mat-grid-list cols="2" rowHeight="5:1">
        <div [ngClass]="'alignTitle'">
          <h4>Instance Details</h4>
        </div>
        <mat-grid-tile>
          <p>Name:</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><b></b></p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>Host:</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><b></b></p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>Port Number:</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><b></b></p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>DockerId:</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><b></b></p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>Labels:</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><b></b></p>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4>Operations</h4>
      <div [ngClass]="'bgOperation'">
        <p>The console terminal data goes here!!</p>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-10 col-sm-12">
      <h4 [ngClass]="'detailAlign'">Notifications</h4>
      
    </div>

  </div>
</div>