<div class="container-fluid">
    <div class="row">
        <h4>Title</h4></div>
    <div class="row rowAlign">
        <div class="col-md-3 col-sm-12 detailsFormat">
            <mat-grid-list cols="2" rowHeight="5:1">
                <div [ngClass]="'alignTitle'" >
                    <h4>Instance Details</h4>
                </div>
            <mat-grid-tile>
              <p>Name:</p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p><b>Demo</b></p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p>Host:</p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p><b>1800</b></p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p>Port Number:</p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p><b>123.45.67.89</b></p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p>DockerId:</p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p><b>12345678901234</b></p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p>Labels:</p>
            </mat-grid-tile>
            <mat-grid-tile>
              <p><b>Not available</b></p>
            </mat-grid-tile>
          </mat-grid-list>
    </div>
    <div class="col-md-6 col-sm-12">
        <h4>Operations</h4>
        <div [ngClass]="'bgOperation'">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and
          typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
</div>