<!-- begin Notifications panel-->
<div class="row">
  <div class="container-fluid">
    <h3>Notifications</h3>

    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#crawler">Crawler</a>
      </li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#webapp">WebApp</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#webapi">WebAPI</a></li>
    </ul>

    <div class="search-container rightSideDiv">
      <form action="#">
        <input type="text" placeholder="Search..." name="search">
        <button class="alert-info" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>


    <div class="tab-content">
      <div id="crawler" class="tab-pane active">
        <h4>Crawler</h4>
        <table class="table">
          <thead>
          <tr>
            <th>Type </th>
            <th>Notifications</th>
            <th>Date/Time</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <i class="material-icons" style="color:yellow">warning</i>
              <span class="glyphicon glyphicon-exclamation-sign warning" aria-hidden="true"></span>
            </td>
            <td>
              <span>Demo overloaded</span>
            </td>
            <td> <span>14/08/18 10:01</span></td>
          </tr>
          <tr>
            <td>
              <i class="material-icons" style="color:red">error</i>
              <span class="glyphicon glyphicon-remove danger" aria-hidden="true"></span>
            </td>
            <td> <span>Demo-4 failed</span></td>
            <td><span>14/08/18 19:01</span></td>
          </tr>
          <tr>
            <td>
              <i class="material-icons" style="color:green">check_circle</i>
              <span class="glyphicon glyphicon-ok success" aria-hidden="true"></span>
            </td>
            <td>
              <span> Demo-2 added</span>
            </td>
            <td><span>14/08/18 10:01</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="webapp" class="tab-pane fade">
        <h4>WebApp</h4>
        <table class="table">
          <thead>
          <tr>
            <th>Type </th>
            <th>Notifications</th>
            <th>Date/Time</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <i class="material-icons" style="color:yellow">warning</i>
              <span class="glyphicon glyphicon-exclamation-sign warning" aria-hidden="true"></span>
            </td>
            <td>
              <span>Demo overloaded</span>
            </td>
            <td> <span>14/08/18 10:01</span></td>
          </tr>
          <tr>
            <td>
              <i class="material-icons" style="color:red">error</i>
              <span class="glyphicon glyphicon-remove danger" aria-hidden="true"></span>
            </td>
            <td> <span>Demo-4 failed</span></td>
            <td><span>14/08/18 19:01</span></td>
          </tr>
          <tr>
            <td>
              <i class="material-icons" style="color:green">check_circle</i>
              <span class="glyphicon glyphicon-ok success" aria-hidden="true"></span>
            </td>
            <td>
              <span> Demo-2 added</span>
            </td>
            <td><span>14/08/18 10:01</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="webapi" class="tab-pane fade">
        <h4>WebAPI</h4>
        <table class="table">
          <thead>
          <tr>
            <th>Type </th>
            <th>Notifications</th>
            <th>Date/Time</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <i class="material-icons" style="color:yellow">warning</i>
              <span class="glyphicon glyphicon-exclamation-sign warning" aria-hidden="true"></span>
            </td>
            <td>
              <span>Demo overloaded</span>
            </td>
            <td> <span>14/08/18 10:01</span></td>
          </tr>
          <tr>
            <td>
              <i class="material-icons" style="color:red">error</i>
              <span class="glyphicon glyphicon-remove danger" aria-hidden="true"></span>
            </td>
            <td> <span>Demo-4 failed</span></td>
            <td><span>14/08/18 19:01</span></td>
          </tr>
          <tr>
            <td>
              <i class="material-icons" style="color:green">check_circle</i>
              <span class="glyphicon glyphicon-ok success" aria-hidden="true"></span>
            </td>
            <td>
              <span> Demo-2 added</span>
            </td>
            <td><span>14/08/18 10:01</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- End Notifications panel-->
