<!-- begin Notifications panel-->
<div class="row">
  <div class="container-fluid">
    <h3>Notifications</h3>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#crawler">Crawler</a></li>
      <li><a data-toggle="tab" href="#webapp">WebApp</a></li>
      <li><a data-toggle="tab" href="#webapi">WebAPI</a></li>
    </ul>

    <div class="search-container rightSideDiv">
      <form action="#">
        <input type="text" placeholder="Search..." name="search">
        <button class="alert-info" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>


    <div class="tab-content">
      <div id="crawler" class="tab-pane fade in active">
        <h3>Crawler</h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Type </th>
            <th>Notifications</th>
            <th>Date/Time</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span class="glyphicon glyphicon-exclamation-sign alert alert-warning" aria-hidden="true"></span>
            </td>
            <td>
              <span>Demo overloaded</span>
            </td>
            <td> <span>14/08/18 10:01</span></td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-remove alert alert-danger" aria-hidden="true"></span>
            </td>
            <td> <span>Demo-4 failed</span></td>
            <td><span>14/08/18 19:01</span></td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-ok alert alert-success " aria-hidden="true"></span>
            </td>
            <td>
              <span> Demo-2 added</span>
            </td>
            <td><span>14/08/18 10:01</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="webapp" class="tab-pane fade">
        <h3>WebApp</h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Type </th>
            <th>Notifications</th>
            <th>Date/Time</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span class="glyphicon glyphicon-exclamation-sign alert alert-warning" aria-hidden="true"></span>
            </td>
            <td>
              <span>Demo overloaded</span>
            </td>
            <td> <span>14/08/18 10:01</span></td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-remove alert alert-danger" aria-hidden="true"></span>
            </td>
            <td> <span>Demo-4 failed</span></td>
            <td><span>14/08/18 19:01</span></td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-ok alert alert-success " aria-hidden="true"></span>
            </td>
            <td>
              <span> Demo-2 added</span>
            </td>
            <td><span>14/08/18 10:01</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div id="webapi" class="tab-pane fade">
        <h3>WebAPI</h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Type </th>
            <th>Notifications</th>
            <th>Date/Time</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <span class="glyphicon glyphicon-exclamation-sign alert alert-warning" aria-hidden="true"></span>
            </td>
            <td>
              <span>Demo overloaded</span>
            </td>
            <td> <span>14/08/18 10:01</span></td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-remove alert alert-danger" aria-hidden="true"></span>
            </td>
            <td> <span>Demo-4 failed</span></td>
            <td><span>14/08/18 19:01</span></td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-ok alert alert-success " aria-hidden="true"></span>
            </td>
            <td>
              <span> Demo-2 added</span>
            </td>
            <td><span>14/08/18 10:01</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- End Notifications panel-->
