@import com.mohiva.play.silhouette.api.LoginInfo

@(loggedUser: Option[User], loginInfo:Option[LoginInfo], javaVersion : Option[String], host : Option[String], scalaVersion: Option[String], platformName: Option[String])(implicit messages:Messages)


@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@views.html.templates.authenticated("Delphi - Management Interface", loggedUser, loginInfo) {

@*
* Get an `Html` object by calling the built-in Play welcome
* template and passing a `String` message.
*@
@welcome("message", style="scala", javaVersion, host, scalaVersion, platformName, loggedUser, loginInfo)

}