@import com.mohiva.play.silhouette.api.LoginInfo
@(message: String, style: String = "scala", javaVersion: Option[String], loggedUser : Option[User], loginInfo : Option[LoginInfo])

<section id="top">
    <div class="jumbotron">
        <h1>Welcome to the Delphi Management Interface!</h1>
        <h3>You are logged in as @loggedUser.get.fullName(loginInfo.get).</h3>
    </div>
</section>

<div class="floatStyle">

    <h2>System Information</h2>
    

    <div class="infoTable">
        <table class="tableAlign">
          <tr>
            <td>Host Name :</td>
            <td class="valueBox">
                <script type="text/javascript">
                   document.write( getComputerName() );
                </script>
            </td>            
          </tr>
          <tr>
            <td>Browser name :</td>
            <td class="valueBox">
                <script type="text/javascript">
                   document.write( getBrowserName() );
                </script>
            </td>            
          </tr>
          <tr>
            <td>Platform :</td>
            <td class="valueBox">
                <script type="text/javascript">
                   document.write( getPlatform() );
                </script>
            </td>            
          </tr>
          <tr>
            <td>JVM Version :</td>
            <td class="valueBox">
                <script type="text/javascript">
                   //document.write( getVersion() );
                   document.write( "@javaVersion" );
                </script>
            </td>            
          </tr>
<!--           <tr>
            <td>Scala Version :</td>
            <td class="valueBox">2.0</td>
          </tr>
          <tr>
            <td>Build Version :</td>
            <td class="valueBox">1.1.0</td>
          </tr>
          <tr>
            <td>Release Version :</td>
            <td class="valueBox">2.0</td>
          </tr>
          <tr>
            <td>CPU Load :</td>
            <td class="valueBox">11.2</td>
          </tr> -->
        </table>
    </div>

</div>

    

<div id="content" class="container">        

    <article>

        <h1>What is Delphi?</h1>

        <p>
            Delphi is a platform to retrieve meta-information on JVM-bytecode based projects.
        </p>


        <h2>What can Delphi do for you?</h2>

        <p>
            You can either query a complete set of information for a specific project or you can retrieve a list of
            matching projects based on specific metrics.
        </p>

        <h2>What is this page used for?</h2>

        <p>
            Once implemented, this page will give you access to the management interface of Delphi. You will be able
            to control the Delphi-Crawlers, configure the Elasticsearch database and administrate your instances of
            Delphi. For now, this page is a placeholder for the future implementation.
        </p>




    </article>



</div>
